<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">New Message</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <textarea ng-model="model.message" class="form-control" rows="5" id="message"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="model.ok()">Send</button>
        <button class="btn btn-default" type="button" ng-click="model.cancel()">Cancel</button>
    </div>
</script>