<div class="container-fluid">
    
    <!-- nav bar -->
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#/home/{{model.studentId}}">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/studentProfile/{{model.studentId}}">Profile</a></li>
                <li class="active"><a href="#/messageStudentProfile/{{model.student._id}}">Messages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/studentLogin">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="row">
        
      <div class="col-lg-6 col-sm-6 ">
        <div class="form-group">
          <button ng-click="model.open()" type="submit" class="btn btn-default">New Message</button>
        </div>
        <div class="list-group">
          <a class="list-group-item active">Messages</a>
          <a ng-repeat="message in model.messageSorted" ng-click="model.chatStudent(message)" class="list-group-item">
            <span class="badge">{{message.count}}</span>
            {{message.name}}
          </a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">{{model.chatStudentName}}</div>
            <div class="panel-body">
              <div class="container">
                  <div ng-repeat="message in model.chatMessages" class="row message-bubble">
                  <p class="text-muted">{{message.from.name}}</p>
                      <span>{{message.message}}</span>
                  </div>
              </div>
              <div class="panel-footer">
                    <div class="input-group">
                    <input ng-model="model.messageToSend" type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click="model.sendMessage(model.messageToSend)" type="button">Send</button>
                    </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>

      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">New Message</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">To: {{model.toName}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li ng-click="model.setToId(student._id, student.name)" ng-repeat="student in model.building" role="presentation"><a role="menuitem" tabindex="-1">{{student.name}}</a></li>
                </ul>
              </div>
            <div class="form-group">
                <textarea ng-model="model.message" class="form-control" rows="5" id="message"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="model.newMessage(model.toId)">Send</button>
            <button class="btn btn-default" type="button" ng-click="model.cancel()">Cancel</button>
        </div>
    </script>
</div>