<div class="container-fluid">
        
        <!-- nav bar -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#/home/{{model.student._id}}">Home</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/studentProfile/{{model.student._id}}">Profile</a></li>
                    <li><a href="#/messageStudentProfile/{{model.student._id}}">Messages</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/studentLogin">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    
        <div class="row">
            
            <div class="col-lg-6 col-sm-6 ">

                <uib-carousel >
                    <uib-slide ng-repeat="image in model.student.img" active="model.active" index="$index">
                        <img ng-src="project/{{image}}" style="margin:auto;" />
                    </uib-slide>
                </uib-carousel>

                <div uib-carousel interval="5000"  active="$index">
                        <div uib-slide index="$index" ng-repeat="image in model.student.img" >
                            <img ng-src="project/{{image}}">
                        </div>
                <div>

                </br></br>
                <form action="/api/uploadImage" method="post" enctype="multipart/form-data">
                    <input name="photos" type="file" class="form-control" multiple/>
                    <input name="studentId" value="{{model.student._id}}" style="display: none"/>
                    </br>
                    <button name="submit" class="btn btn-block btn-primary">Upload Images</button>
                </form>
            </div>

            <div class="col-sm-6 col-lg-6" data-effect="slide-right">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="{{model.student.name}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Major</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="{{model.student.major}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Graduation Year</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="{{model.student.graduationYear}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Dorm</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="{{model.student.dorm}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Hometown</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="{{model.student.hometown}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Hobbies</label>
                        <div class="col-lg-10">
                            <input ng-model="model.student.hobbies" type="text" class="form-control" placeholder="{{model.student.hobbies}}">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Instagram</label>
                            <div class="col-lg-10">
                                <input ng-model="model.student.instagram" type="text" class="form-control" placeholder="{{model.student.instagram}}">
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Snapchat</label>
                            <div class="col-lg-10">
                                <input ng-model="model.student.snapchat" type="text" class="form-control" placeholder="{{model.student.snapchat}}">
                            </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button ng-confirm-click="Your profile was updated." ng-click="model.saveInformation(model.student)" type="submit" class="btn btn-default">Update</button>
                    </div>
                    </div>
                </form>
            </div>
</div>